{% extends "layout.njk" %}

{% block content %}
    <div class="article container">
        <h1 class="article__title">
            A sua doação <span>importa</span>
        </h1>
            
        <p>
            Até 3 vidas com 1 doação.
        </p>
        <p>
            Mais de 38.000 doações são necessárias todos os dias 
            apenas <strong>1,9% da população brasileira doa sangue</strong>
        </p>
        <button id="appearForm" type="button">
            Quero ajudar
        </button>
    </div>

    <main>
        <section class="container register hide">
                <div>
                    <h2>Entre na lista de doares</h2>
                </div>
                <form action="/home" method="POST">
                    <input 
                    type="text"
                    name="name"
                    placeholder="Nome completo"
                    >
                    <input 
                    type="email"
                    name="email"
                    placeholder="E-mail"
                    >
                    <input 
                    type="text"
                    name="blood"
                    placeholder="Tipo de sangue"
                    >
                    <button type="submit">
                        Quero ajudar
                    </button>
                </form>
            
        </section>

        <div class="container">
            <div class="title">
                <h1>
                    Últimos
                    <span>doadores</span>
                </h1>
            </div>
            <div class="doners">
                {% for doner in doners %}
                    <div class="donor__item">
                        <div class="donor__blood">
                            {{ doner.blood }}
                        </div>
                        <div>{{ doner.name }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </main>
{% endblock content %}